@{
    ViewBag.Title = "Contact";
}
<div class="container header-image-room">
    <div class="row">
        <div class="col-xs-12">
            <div class="reserve-room">
                <h2>Страница 404</h2>
                <div>
                    <div class="input-group">

                    </div>
                </div>
            </div>
            Страницы с данным адресом не существует.
        </div>
    </div>
