@{
    ViewBag.Title = "Home Page";
}

@model GreenHouse.Domain.Entities.Reservation[,]

<div class="container header-image">
    <div class="row">
        <div class="col-xs-12">
            <div class="reserve-form">
                <h2>Забронировать комнату</h2>
                <div>
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Номер комнаты">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Обзор</button>
                            </span>
                        </div><!-- /input-group -->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h3>Расписание</h3>
            <h4>На 24 Августа 2015</h4>
        </div>
        <div class="col-sm-6 text-right">
            <h6>
                Календарь
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" id="hideCal">Скрыть</button>
                    <button type="button" class="btn btn-default" id="showCal">Показать</button>
                </div>
            </h6>
        </div>
    </div>

    <div class="row">
        <div id="content">
            No content loaded
        </div>

        <div class="col-sm-3 text-right cal">
            <div style="overflow: hidden;">
                <div class="form-group">
                    <div class="row">
                        @*<div class="col-md-12">
                            <div>
                                <button id="btnCalendarMode" class="btn btn-md" onclick="$.GreenHouse.btnCalendarMode_Click(this)" data-mode="0">День</button>
                            </div>*@
                            <div id="datetimepicker12"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>
            $(function() {
                $('[data-toggle="popover"]').popover({
                    html: true
                });
            })
        </script>
        <script type="text/javascript">
            $(window).load(function () {
                var year = 2015;
                var month = 9;
                var day = 8;

                var model = {
                    Year: year,
                    Month: month,
                    Day: day
                };

                $.ajax({
                    type: "POST",
                    data: model,
                    dataType: "html",
                    url: '@Url.Action("Reservations", "Home")'
                }).done(function (result) {
                    $('#content').html(result);
                });
            });
        </script>
    </div>

@Html.Partial("~/Views/Shared/Rooms.cshtml")
