<div class="container-fluid map-bg">
    <div class="row">

        <div class="col-xs-6 filter-bs-con"></div>
        <div class="col-xs-6 filter-bs-con">
            <div class="filter-container" id="f">
                <div class="filter">
                    
                    <span class="filter-labels">Количество посадочных мест:</span><br><br>
                    <input value ="0" id="places-slider" type="range" min="0" max="100" step = "25" ng-model="searchText" ng-change="filtering(searchText)" onchange="updateTextInput(this.value)"/>
                    @*<a ng-click="filtering(searchText)">sdagsfg</a>*@
                    @*<input type="text" id="textInput" value="">*@
                    <table class="range-labels">
                        <tr>
                            <td>
                                от 10
                            </td>
                            <td>
                                от 30
                            </td>
                            <td>
                                от 70
                            </td>
                            <td>
                                от 100
                            </td>
                            <td>
                                от 200
                            </td>
                        </tr>
                    </table>

                    <div style="color: #fafafa; padding: 10px;">
                        <span class="filter-labels">Техническая база:</span>

                        <table class="table-filter">
                            <tr>
                                <td>
                                    <input type="checkbox" name="wifi" id="wifi" class="css-checkbox" ng-click="filtering(searchText)"/><label for="wifi" class="css-label"></label><span class="filter-labels">Wi-Fi</span>
                                </td>
                                <td>
                                    <input type="checkbox" name="projector" id="projector" class="css-checkbox" ng-click="filtering(searchText)"/><label for="projector" class="css-label"></label><span class="filter-labels">Проектор</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="monitor" id="monitor" class="css-checkbox" ng-click="filtering(searchText)"/><label for="monitor" class="css-label"></label><span class="filter-labels">Монитор</span>
                                </td>
                                <td>
                                    <input type="checkbox" name="microphone" id="microphone" class="css-checkbox" ng-click="filtering(searchText)"/><label for="microphone" class="css-label"></label><span class="filter-labels">Микрофон</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-xs-12">
            <div class="mapContainer">
                <h3>План Этажа</h3>
                <h4>Комнат 15</h4>
                @*<div>filtered rooms length: {{filteredRooms.length}}</div>*@
                @*<ul>
                    <li ng-repeat="i in filteredRooms">{{i.number}}</li>
                </ul>*@
                <div class="mapImgContainer">
                    <div ng-repeat="i in filteredRooms"><div class="room" id="oroom{{i.number}}" style="background-image: url(Content/images/rooms/r-{{i.number}}-{{i.background}}.png)"><span>{{i.number}}</span></div></div>
                    @*<div class="room" id="room307"><span>307</span></div>
                    <div class="room" id="room311"><span>311</span></div>
                    <div class="room" id="room306"><span>306</span></div>
                    <div class="room" id="room308"><span>308</span></div>
                    <div class="room" id="room309"><span>309</span></div>
                    <div class="room" id="room310"><span>310</span></div>
                    <div class="room" id="room305"><span>305</span></div>
                    <div class="room" id="room312"><span>312</span></div>
                    <div class="room" id="room313"><span>313</span></div>
                    <div class="room" id="room314"><span>314</span></div>
                    <div class="room" id="room315"><span>315</span></div>
                    <div class="room" id="room301"><span>301</span></div>
                    <div class="room" id="room302"><span>302</span></div>
                    <div class="room" id="room303"><span>303</span></div>
                    <div class="room" id="room304"><span>304</span></div>*@
                    <img style="z-index: 2;" src="@Url.Content("~/Content/images/map.png")" usemap="#roommap"/>
                    <map name="roommap">
                        @*307*@
                        <div style="top: -100px; left: -75px;" data-trigger="hover" data-toggle="popover" data-content="<div class='roominfo' data-ng-show='selectedRoom' style='color: white;'>
                    <h3>Комната № {{ selectedRoom.number }}</h3>
                    <table>
                        <tr><td>Кол-во мест {{ selectedRoom.places }}</td></tr>
                        <tr><td>Wifi {{ selectedRoom.wifi }}</td></tr>
                        <tr><td>Projector {{ selectedRoom.projector }}</td></tr>
                        <tr><td><span class='icon-microphone'></span>Microphone {{ selectedRoom.microphone }}</td></tr>
                        <tr><td>Monitor {{ selectedRoom.monitor }}</td></tr>
                    </table>
                    </div>"><area shape="rect" coords="40,25,130,86" ng-mouseover="selectRoom(307)"/>
                        </div>
                        @*308*@
                        <div style="top: -35px; left: -75px;" data-trigger="hover" data-toggle="popover" data-content="<div class='roominfo' data-ng-show='selectedRoom' style='color: white;'>
                    <h3>Комната № {{ selectedRoom.number }}</h3>
                    <table>
                        <tr><td>Кол-во мест {{ selectedRoom.places }}</td></tr>
                        <tr><td>Wifi {{ selectedRoom.wifi }}</td></tr>
                        <tr><td>Projector {{ selectedRoom.projector }}</td></tr>
                        <tr><td><span class='icon-microphone'></span>Microphone {{ selectedRoom.microphone }}</td></tr>
                        <tr><td>Monitor {{ selectedRoom.monitor }}</td></tr>
                    </table>
                    </div>"><area shape="rect" coords="40,95,125,127" ng-mouseover="selectRoom(308)"/>
                        </div>
                        @*309*@
                        <div style="left: -75px;" data-trigger="hover" data-toggle="popover" data-content="<div class='roominfo' data-ng-show='selectedRoom' style='color: white;'>
                    <h3>Комната № {{ selectedRoom.number }}</h3>
                    <table>
                        <tr><td>Кол-во мест {{ selectedRoom.places }}</td></tr>
                        <tr><td>Wifi {{ selectedRoom.wifi }}</td></tr>
                        <tr><td>Projector {{ selectedRoom.projector }}</td></tr>
                        <tr><td><span class='icon-microphone'></span>Microphone {{ selectedRoom.microphone }}</td></tr>
                        <tr><td>Monitor {{ selectedRoom.monitor }}</td></tr>
                    </table>
                    </div>"><area shape="rect" coords="40,134,125,172" ng-mouseover="selectRoom(309)"/>
                        </div>
                        @*310*@
                        <div style="top: 60px; left: -75px;" data-trigger="hover" data-toggle="popover" data-content="<div class='roominfo' data-ng-show='selectedRoom' style='color: white;'>
                    <h3>Комната № {{ selectedRoom.number }}</h3>
                    <table>
                        <tr><td>Кол-во мест {{ selectedRoom.places }}</td></tr>
                        <tr><td>Wifi {{ selectedRoom.wifi }}</td></tr>
                        <tr><td>Projector {{ selectedRoom.projector }}</td></tr>
                        <tr><td><span class='icon-microphone'></span>Microphone {{ selectedRoom.microphone }}</td></tr>
                        <tr><td>Monitor {{ selectedRoom.monitor }}</td></tr>
                    </table>
                    </div>"><area shape="rect" coords="40,180,125,237" ng-mouseover="selectRoom(310)"/></div>
                        @*306*@
                        <div style="top: -100px; left: 70px;" data-trigger="hover" data-toggle="popover" data-content="<div class='roominfo' data-ng-show='selectedRoom' style='color: white;'>
                    <h3>Комната № {{ selectedRoom.number }}</h3>
                    <table>
                        <tr><td>Кол-во мест {{ selectedRoom.places }}</td></tr>
                        <tr><td>Wifi {{ selectedRoom.wifi }}</td></tr>
                        <tr><td>Projector {{ selectedRoom.projector }}</td></tr>
                        <tr><td><span class='icon-microphone'></span>Microphone {{ selectedRoom.microphone }}</td></tr>
                        <tr><td>Monitor {{ selectedRoom.monitor }}</td></tr>
                    </table>
                    </div>"><area shape="rect" coords="196,28,264,75" ng-mouseover="selectRoom(306)"/></div>
                        @*305*@
                        <div style="top: -40px; left: 70px;" data-trigger="hover" data-toggle="popover" data-content="<div class='roominfo' data-ng-show='selectedRoom' style='color: white;'>
                    <h3>Комната № {{ selectedRoom.number }}</h3>
                    <table>
                        <tr><td>Кол-во мест {{ selectedRoom.places }}</td></tr>
                        <tr><td>Wifi {{ selectedRoom.wifi }}</td></tr>
                        <tr><td>Projector {{ selectedRoom.projector }}</td></tr>
                        <tr><td><span class='icon-microphone'></span>Microphone {{ selectedRoom.microphone }}</td></tr>
                        <tr><td>Monitor {{ selectedRoom.monitor }}</td></tr>
                    </table>
                    </div>"><area shape="rect" coords="173,82,264,128" ng-mouseover="selectRoom(305)"/></div>
                        @*312*@
                        <div style="top: 200px; left: 140px;" data-trigger="hover" data-toggle="popover" data-content="<div class='roominfo' data-ng-show='selectedRoom' style='color: white;'>
                    <h3>Комната № {{ selectedRoom.number }}</h3>
                    <table>
                        <tr><td>Кол-во мест {{ selectedRoom.places }}</td></tr>
                        <tr><td>Wifi {{ selectedRoom.wifi }}</td></tr>
                        <tr><td>Projector {{ selectedRoom.projector }}</td></tr>
                        <tr><td><span class='icon-microphone'></span>Microphone {{ selectedRoom.microphone }}</td></tr>
                        <tr><td>Monitor {{ selectedRoom.monitor }}</td></tr>
                    </table>
                    </div>"><area shape="rect" coords="190,307,340,394"  ng-mouseover="selectRoom(312)"/></div>
                        @*313*@
                        <div style="top: 200px; left: 260px;" data-trigger="hover" data-toggle="popover" data-content="<div class='roominfo' data-ng-show='selectedRoom' style='color: white;'>
                    <h3>Комната № {{ selectedRoom.number }}</h3>
                    <table>
                        <tr><td>Кол-во мест {{ selectedRoom.places }}</td></tr>
                        <tr><td>Wifi {{ selectedRoom.wifi }}</td></tr>
                        <tr><td>Projector {{ selectedRoom.projector }}</td></tr>
                        <tr><td><span class='icon-microphone'></span>Microphone {{ selectedRoom.microphone }}</td></tr>
                        <tr><td>Monitor {{ selectedRoom.monitor }}</td></tr>
                    </table>
                    </div>"><area shape="rect" coords="350,307,455,394" ng-mouseover="selectRoom(313)"/></div>
                        @*314*@
                        <div style="top: 200px; left: 410px;" data-trigger="hover" data-toggle="popover" data-content="<div class='roominfo' data-ng-show='selectedRoom' style='color: white;'>
                    <h3>Комната № {{ selectedRoom.number }}</h3>
                    <table>
                        <tr><td>Кол-во мест {{ selectedRoom.places }}</td></tr>
                        <tr><td>Wifi {{ selectedRoom.wifi }}</td></tr>
                        <tr><td>Projector {{ selectedRoom.projector }}</td></tr>
                        <tr><td><span class='icon-microphone'></span>Microphone {{ selectedRoom.microphone }}</td></tr>
                        <tr><td>Monitor {{ selectedRoom.monitor }}</td></tr>
                    </table>
                    </div>"><area shape="rect" coords="465,307,611,394" ng-mouseover="selectRoom(314)"/></div>
                        @*315*@
                        <div style="top: 175px; left: 475px;" data-trigger="hover" data-toggle="popover" data-content="<div class='roominfo' data-ng-show='selectedRoom' style='color: white;'>
                    <h3>Комната № {{ selectedRoom.number }}</h3>
                    <table>
                        <tr><td>Кол-во мест {{ selectedRoom.places }}</td></tr>
                        <tr><td>Wifi {{ selectedRoom.wifi }}</td></tr>
                        <tr><td>Projector {{ selectedRoom.projector }}</td></tr>
                        <tr><td><span class='icon-microphone'></span>Microphone {{ selectedRoom.microphone }}</td></tr>
                        <tr><td>Monitor {{ selectedRoom.monitor }}</td></tr>
                    </table>
                    </div>"><area shape="rect" coords="621,307,665,337" ng-mouseover="selectRoom(315)"/></div>
                        @*301*@
                        <div style="top: 60px; left: 410px;" data-trigger="hover" data-toggle="popover" data-content="<div class='roominfo' data-ng-show='selectedRoom' style='color: white;'>
                    <h3>Комната № {{ selectedRoom.number }}</h3>
                    <table>
                        <tr><td>Кол-во мест {{ selectedRoom.places }}</td></tr>
                        <tr><td>Wifi {{ selectedRoom.wifi }}</td></tr>
                        <tr><td>Projector {{ selectedRoom.projector }}</td></tr>
                        <tr><td><span class='icon-microphone'></span>Microphone {{ selectedRoom.microphone }}</td></tr>
                        <tr><td>Monitor {{ selectedRoom.monitor }}</td></tr>
                    </table>
                    </div>"><area shape="rect" coords="504,165,612,257" ng-mouseover="selectRoom(301)"/></div>
                        @*302*@
                        <div style="top: 60px; left: 302px;" data-trigger="hover" data-toggle="popover" data-content="<div class='roominfo' data-ng-show='selectedRoom' style='color: white;'>
                    <h3>Комната № {{ selectedRoom.number }}</h3>
                    <table>
                        <tr><td>Кол-во мест {{ selectedRoom.places }}</td></tr>
                        <tr><td>Wifi {{ selectedRoom.wifi }}</td></tr>
                        <tr><td>Projector {{ selectedRoom.projector }}</td></tr>
                        <tr><td><span class='icon-microphone'></span>Microphone {{ selectedRoom.microphone }}</td></tr>
                        <tr><td>Monitor {{ selectedRoom.monitor }}</td></tr>
                    </table>
                    </div>"><area shape="rect" coords="464,165,500,257" ng-mouseover="selectRoom(302)"/></div>
                        @*303*@
                        <div style="top: 60px; left: 140px;" data-trigger="hover" data-toggle="popover" data-content="<div class='roominfo' data-ng-show='selectedRoom' style='color: white;'>
                    <h3>Комната № {{ selectedRoom.number }}</h3>
                    <table>
                        <tr><td>Кол-во мест {{ selectedRoom.places }}</td></tr>
                        <tr><td>Wifi {{ selectedRoom.wifi }}</td></tr>
                        <tr><td>Projector {{ selectedRoom.projector }}</td></tr>
                        <tr><td><span class='icon-microphone'></span>Microphone {{ selectedRoom.microphone }}</td></tr>
                        <tr><td>Monitor {{ selectedRoom.monitor }}</td></tr>
                    </table>
                    </div>"><area shape="rect" coords="295,165,336,257" ng-mouseover="selectRoom(303)"/></div>
                        @*304*@
                        <div style="top: 70px; left: 85px;" data-trigger="hover" data-toggle="popover" data-content="<div class='roominfo' data-ng-show='selectedRoom' style='color: white;'>
                    <h3>Комната № {{ selectedRoom.number }}</h3>
                    <table>
                        <tr><td>Кол-во мест {{ selectedRoom.places }}</td></tr>
                        <tr><td>Wifi {{ selectedRoom.wifi }}</td></tr>
                        <tr><td>Projector {{ selectedRoom.projector }}</td></tr>
                        <tr><td><span class='icon-microphone'></span>Microphone {{ selectedRoom.microphone }}</td></tr>
                        <tr><td>Monitor {{ selectedRoom.monitor }}</td></tr>
                    </table>
                    </div>"><area shape="poly" coords="173,192, 285,192, 285,256, 200,256, 173, 225" ng-mouseover="selectRoom(304)"/></div>
                        @*311*@
                        <div style="top: 170px; left: -30px;" data-trigger="hover" data-toggle="popover" data-content="<div class='roominfo' data-ng-show='selectedRoom' style='color: white;'>
                    <h3>Комната № {{ selectedRoom.number }}</h3>
                    <table>
                        <tr><td>Кол-во мест {{ selectedRoom.places }}</td></tr>
                        <tr><td>Wifi {{ selectedRoom.wifi }}</td></tr>
                        <tr><td>Projector {{ selectedRoom.projector }}</td></tr>
                        <tr><td><span class='icon-microphone'></span>Microphone {{ selectedRoom.microphone }}</td></tr>
                        <tr><td>Monitor {{ selectedRoom.monitor }}</td></tr>
                    </table>
                    </div>"><area shape="circle" coords="105,320,67"  ng-mouseover="selectRoom(311)"/>
                        <area shape="circle" coords="55,270,25" ng-mouseover="selectRoom(311)"/></div>
                    </map>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="places">
</div>

<script>
    $(function() {
        $('[data-toggle="popover"]').popover({
            html: true
        });
    })
</script>


<script type="text/javascript">
    function updateTextInput(val) {

        document.getElementById('textInput').value = val;
        //angular.element(document.getElementById('places-slider')).scope().filtering(val);
    };
</script>