<div class="container-fluid map-bg">
    <div class="row">
        <div class="col-xs-12">
            <div class="mapContainer">
                <h3>План Этажа</h3>
                <h4>Комнат 12</h4>

                <div class="mapImgContainer">
                    <div id="room307"></div>
                    <div id="room311"></div>
                    <img src="@Url.Content("~/Content/images/map.png")" usemap="#roommap" />
                    <map name="roommap">
                        <area shape="rect" coords="40,25,130,90" href="http://google.com" />
                        <area shape="circle" coords="105,320,67" href="korr.ua" />
                        <area shape="circle" coords="55,270,25" href="korr.ua" />
                    </map>
                </div>
            </div>

        </div>
    </div>
</div>


